In [4]:
import pandas as pd

# List any five functions of the pandas library with execution

In [38]:
##### There are many function of pandas, 5 most important are as follows:

# 1. To open any file. pd.read_csv("filename.csv")
# 2. To check top 5 rows: df.head() here df is the file name.
# 3. To separte the data based on the group we have groupby: df.groupby("Criteria_to_group").count()
# 4. To apply any implementaion on the data set we use apply function: 
#     def calculate_tax(salary):
#     return salary * 0.1

#     df['Tax'] = df['Salary'].apply(calculate_tax)

# 5.To plot any graph we use plot. df.plot(kind =  'bar', label = 'Assignment of Pandas', x= 'time', y = 'work')

Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row

In [28]:
def reindex_f(df):
    original_index = df.index
    
    reset_index = df.reset_index(drop = True)
    
    new_index = range(1, len(df)*3 , 3)
    
    df.index =  new_index
    
    print(original_index)
    print(df.index)

In [29]:
df = pd.DataFrame({
    'A': [10, 20, 30],
    'B': [100, 200, 300],
    'C': ['foo', 'bar', 'baz']
})

In [30]:
reindex_f(df)

RangeIndex(start=0, stop=3, step=1)
RangeIndex(start=1, stop=9, step=3)

You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [33]:
df = pd.DataFrame({'id': [1,2,3,4,5,6,7,8],
                  'name': ['saurav', 'gaurav', 'rupam','saa','akka','sss','aaaa','hims'],
                   'number' : [12,11,23,44,54,24,22,11]
                           })

In [34]:
df

   id    name  number
0   1  saurav      12
1   2  gaurav      11
2   3   rupam      23
3   4     saa      44
4   5    akka      54
5   6     sss      24
6   7    aaaa      22
7   8    hims      11

In [35]:
df['value'] = df['number'].sum()

In [36]:
df

   id    name  number  value
0   1  saurav      12    201
1   2  gaurav      11    201
2   3   rupam      23    201
3   4     saa      44    201
4   5    akka      54    201
5   6     sss      24    201
6   7    aaaa      22    201
7   8    hims      11    201

In [43]:
import pandas as pd

def sum_of_first_three(df):
    values_sum = 0
    for i in range(3):
        values_sum += df['value'][i]
    print("The sum of the first three values in the 'Values' column is:", values_sum)

In [44]:
sum_of_first_three(df)

The sum of the first three values in the 'Values' column is: 603

 Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [49]:
df = pd.DataFrame({'name': ['Saurav', 'ffff','fffddd','fesdd'],
      'text':['Hello how are you?',
'I am doing well', 'thanks for asking',
'This is a sample sentence' ]
      })

In [51]:
df['length']= df['text'].apply(lambda x :len(x))
print(df)

     name                       text  length
0  Saurav         Hello how are you?      18
1    ffff            I am doing well      15
2  fffddd          thanks for asking      17
3   fesdd  This is a sample sentence      25

 How are DataFrame.size() and DataFrame.shape() different?

In [56]:
#It gives total number of elements in a dataframe, which is equal to the number of rows multiplied by the number of columns.
print('shape :',df.shape)

#shape:shape gives the count of rows and column.
print('size :', df.size)

shape : (4, 3)
size : 12

Q6. Which function of pandas do we use to read an excel file?

In [57]:
# df= pd.read_xlsx('file_name.xlsx', sheet = 'sheet_name')

 You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [63]:
df = pd.DataFrame({'name': ['ss','tt','ee'],
      'email': ['username@domain.com','user1name@domain.com','us111name@domain.com']})

df['username'] = df['email'].apply(lambda x : x.split('@')[0])

print(df)

  name                 email   username
0   ss   username@domain.com   username
1   tt  user1name@domain.com  user1name
2   ee  us111name@domain.com  us111name

 You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [73]:
import numpy as np
np.random.randint( 1,20,10)

array([ 1,  6, 12, 12, 10, 16, 11,  8, 15,  3])

In [82]:
df = pd.DataFrame({'A': np.random.randint( 1,20,10),
                   'B': np.random.randint( 5,20,10),
                   'C':np.random.randint( 1,20,10)})
                   
selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
print(selected_rows)

    A  B   C
1  14  5  13
3  13  5  15
4   8  5  15
6   9  6   8
8  19  5   5